<h2>Angular AutoComplete Search For Buildings And Buildings For Searched Latitude And Longitude Coordinates</h2>
<hr>
<!-- <button (click) = "getData()">Get Data</button> -->
<!-- <div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" [(ngModel)] = "searchText" autocomplete="on" placeholder="Enter the building name">
    </div>
    </div> --> 
<!--        
        <table>
          <tr>
            <th>ID</th>
            <th>BUILDING</th>
            <th>CITY</th>
            <th>STATE</th>
            <th>LAT</th>
            <th>LONG</th>
            <th>PHON</th>
            <th>EMAIL</th>
          </tr>
          <tr  *ngFor = "let d of data |filter:searchText">
            <td>{{d.id}}</td>
            <td>{{d.building}}</td>
            <td>{{d.city}}</td>
            <td>{{d.state}}</td>
            <td>{{d.lat}}</td>
            <td>{{d.long}}</td>
            <td>{{d.phon}}</td>
            <td>{{d.email}}</td>
          </tr>
       </table>  -->

<a routerLink = "autocomplete">AutoCompleteSearch</a>
<a routerLink = "multiplefiltering">Multiple Filtering Search For To Find Buildings For Latitude And Longitude Coordinates</a>
<router-outlet></router-outlet>