<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' placeholder = "Enter any one of building name" (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
            
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.building"></a>
                </ng-template>
            
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
